//
// @license
// Copyright 2022 Google LLC
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function getCase(caseId, request) {
      // return get(/databases/$(database)/documents/supportCases/$(caseId)).data;
      return get(/databases/$(database)/documents/supportCases/$(caseId)/participants/$(request)).data;
    }

    //function getUser(uid) {
      //return get(/databases/$(database)/documents/users/roles/admin/$(uid)).data;
    //}
    
    function getAdmin(uid) {
    	return get(/databases/$(database)/documents/users/roles/admin/$(uid)).data;
    }
    
    function getCustomer(uid) {
    	return get(/databases/$(database)/documents/users/roles/customer/$(uid)).data;
    }

    //function isAgent(request) {
      //return getUser(request.auth.uid).details in ['agent'];
    //}

    match /supportCases/{caseId}/messages/{messageId} {
      // allow read, write: if getCase(caseId).uid == request.auth.uid || isAgent(request);
      allow read, write: if getCase(caseId, request.auth.uid) != null;      
    }

    //match /supportCases/{caseId}/messages {
      // allow read, write: if getCase(caseId).uid == request.auth.uid || isAgent(request);
      //allow read, write: if getCase(caseId, request.auth.uid) != null;      
    //}
    
    match /users/roles/admin/{uid} {
      // allow read, write: if (getCase(caseId) != null) && (getUser(uid) != null) && (getCase(caseId).uid == request.auth.uid || isAgent(request));
      allow read: if (getAdmin(uid) != null) || (getCustomer(uid) != null);
      		  // make sure you remove write capability for production
    }
    
    match /users/roles/customer/{uid} {
      allow read: if (getAdmin(uid) != null) || (getCustomer(uid) != null);
            // make sure you remove write capability for production

    }
    

  }
}
